[submodule "backend/games/number-baseball-back"]
	path = backend/games/number-baseball-back
	url = https://github.com/AnSungWook/number-baseball-back.git
[submodule "frontend/core"]
	path = frontend/core
	url = https://github.com/AnSungWook/number-baseball-front.git
[submodule "mobile/core"]
	path = mobile/core
	url = https://github.com/AnSungWook/number-baseball-mobile.git
